<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edm ui</title>
    <link rel="stylesheet" href="../css/main.styles.css" />
  </head>

  <body>
    <!-- Main By:  #Angela, #Joshua,   -->
    <main>
      <section class="faculty">
        <h2>meet our faculty</h2>
        <div class="faculty-member">
          <img src="assets/img.1.jpg" alt="Ethel Davis" />
          <p>Ethel Davis</p>
          <p>Managing Director(sales)</p>
        </div>
        <div class="faculty-member">
          <img src="assets/img.2.jpg" alt="Ethel Davis" />
          <p>Ethel Davis</p>
          <p>Managing Director(sales)</p>
        </div>
        <div class="faculty-member">
          <img src="img.3.jpg" alt="Ethel Davis" />
          <p>Ethel Davis</p>
          <p>Managing Director(sales)</p>
        </div>
        <div class="faculty-member">
          <img src="img.4.jpg" alt="Ethel Davis" />
          <p>Ethel Davis</p>
          <p>Managing Director(sales)</p>
        </div>
      </section>
      <section class="packages">
        <h2>Choose Course Packages</h2>
        <div class="packages">
          <h3>Premium</h3>
          <p>For the individuals</p>
          <ul>
            <li>Secure Online Transfer</li>
            <li>Unlimited Styles for interfaces</li>
            <li>Reliable Customer service</li>
          </ul>
          <p>£399.00</p>
          <button>join now</button>
        </div>
        <div class="packages">
          <h3>Exclusive</h3>
          <p>For the individuals</p>
          <ul>
            <li>Secure Online Transfer</li>
            <li>Unlimited Styles for interfaces</li>
            <li>Reliable Customer service</li>
          </ul>
          <p>£399.00</p>
          <button>join now</button>
        </div>
      </section>
      <section class="Blog">
        <h2>Latest Posts From Blog</h2>
        <article>
          <img src="l-blog-1.jpg" />
          <p>25 October,2018|By Mark Wiens</p>
          <h3>Addiction When Gambling A Problem</h3>
          <p>
            Computers have become ubiquitous in almost every facet of our
            lives.At work ,desk jockeys spend hours in front of their
            desktops,while delivery
          </p>
        </article>
        <article>
          <img src="l-blog-2.jpg" />
          <p>25 October,2018|By Mark Wiens</p>
          <h3>Addiction When Gambling A Problem</h3>
          <p>
            Computers have become ubiquitous in almost every facet of our
            lives.At work ,desk jockeys spend hours in front of their
            desktops,while delivery
          </p>
        </article>
        <article>
          <img src="l-blog-3.jpg" />
          <p>25 October,2018|By Mark Wiens</p>
          <h3>Addiction When Gambling A Problem</h3>
          <p>
            Computers have become ubiquitous in almost every facet of our
            lives.At work ,desk jockeys spend hours in front of their
            desktops,while delivery
          </p>
        </article>
        <article>
          <img src="l-blog-4.jpg" />
          <p>25 October,2018|By Mark Wiens</p>
          <h3>Addiction When Gambling A Problem</h3>
          <p>
            Computers have become ubiquitous in almost every facet of our
            lives.At work ,desk jockeys spend hours in front of their
            desktops,while delivery
          </p>
        </article>
      </section>

      <section class="instructor">
        <h2>Become An Instructor</h2>
        <p>
          There is a moment in the life of any aspiring astronomer that it is
          time to buy that first telescope.It's exciting to think about setting
          up your own viewing station whether that is on the deck
        </p>
        <button>Apply for the Post</button>
      </section>
    </main>

    <!-- Footer By: #Tapuwa, #Aissa,  -->
  </body>
</html>
